@import '../../../styles/styles';

.button {
  @include font-size(14);

  display: inline-block;
  border-radius: 8px;
  border: 2px solid color(primary, hover);
  padding: 10px 20px;
  min-width: 140px;
  background-color: color(primary, base);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.75;
  font-family: $brand-font-b;
  font-weight: bold;
  color: color(primary, hover);
  transition: .2s $ease-in-sine;
  appearance: none;
  &:focus,
  &:hover {
    background-color: color(primary, hover);
    color: color(primary, base);
  }

  &:disabled,
  &--disabled {
    background-color: color(neutral, base);
    pointer-events: none;
  }
  svg {
    margin-left: 5px;
    width: 10px;
    height: 10px;
    fill: color(default, light);
  }
  a {
    color: color(default, light);
    &:hover { color: color(default, light); }
  }
}
